<!DOCTYPE html>
<html lang="en">
    
    <!-- Include Head -->
    <%- include('partials/head', {title: 'Inicio'}) %>


<body>

<div class="container">

	<%- include('partials/headernavbar') %>

    <!-- EL MENU DE BOTONES -->
   <%- include('partials/bottoms') %>
    
    <!-- EL BANNER PRINCIPAL -->
	<div class="row">
		
            <div class="col-12 banner">
                <a href="/campaña">
                    <img src="/images/banner1.jpg">
                </a>
            </div>
	
			<!-- FLECHAS PARA CAMBIAR BANNER -->
			<!--
            <div class="nav-button-right">
                <img src="/images/navFlechaDer.png" style="width:4em; height:4em;">
            </div>    
            <div class="nav-button-left">
                <img src="/images/navFlechaIzq.png" style="width:4em; height:4em;">                
			</div>			
			-->
    
        </div>
				
		
<!-- CARRUSEL -->

		
<div class="col-md-12 text-center"><h3>Recomendaciones para vos</h3></div>

<div class="col-md-10 col-md-offset-1">
	<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">

		<div class="carousel-inner">

			<div class="item active">
            <% arrayProducts.forEach(unProducto => { %>           
				<div class="col-12 col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="/images/<%=unProducto.image%>" class="img-responsive"></a></div>		    
            <%})%>
        </div>
		</div>

	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
	</div>
</div>

        
		
		



</div>

<!-- FOOTER -->

<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->

</body>