
<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

<%- include('partials/headerNavbar') %>
<div class="container">
<div class="container-product-create">


    <!-- ==== Condciional para ver si hay errores en el formulario ==== -->
    <% if (typeof errors != 'undefined') { %>
        <p style="color: red">Hay erorres en el formulario</p>

        <% for(let i = 0; i<errors.length; i++) { %>
            <li style="color: red">
                <%=errors[i].msg%>
            </li>
        <% } %>

    <% } %>
    <!-- ======== -->

  <div class="container-product-create">
        <form  method="POST" action="/products/create" class="product-form"  enctype="multipart/form-data"id="products-form">
            
            <!-- ========== NOMBRE ========== -->
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>   
                <input name="name" type="text" class="form-control" placeholder="Escribi el nombre" data-name="nombre">
                <p class="feedback"></p>
            </div>

            <!-- ========== IMAGEN ========== -->
            <div class="form-group">
                <label for="exampleFormControlFile1">Imagen</label>   
                <input name="image" type="file" class="form-control-file" id="exampleFormControlFile1" data-name="image">
                <p class="feedback"></p>
            </div>

            <!-- ========== CATEGORIA ========== -->
            <div class="form-group"> 
            <label for="exampleFormControlFile1">Categoria</label>    
            <select name="fk_category" class="custom-select" data-name="categoria">
                <option value="" selected>Selecciona la categoria</option>
                <%categories.forEach(oneCategory => {%>
                    <option value="<%=oneCategory.id_category%>"><%=oneCategory.name%></option>
                <%});%>        
            </select> 
            <p class="feedback"></p>
            </div> 

            <!-- ========== COLOR ========== --> 
            <div class="form-group"> 
                <label for="exampleFormControlFile1">Color</label>    
                <select name="fk_color" class="custom-select"data-name="color">
                    <option value="" selected>Selecciona el color</option>
                    <%colors.forEach(oneColor => {%>
                        <option value="<%=oneColor.id_color%>"><%=oneColor.name%></option>
                    <%});%>        
                </select> 
                <p class="feedback"></p>
            </div> 

            <!-- ========== TALLE ========== --> 
            <div class="form-group"> 
                <label for="exampleFormControlFile1">Talle</label>    
                <select name="fk_size" class="custom-select" data-name="talle">
                    <option value="" selected>Selecciona el talle</option>
                    <%sizes.forEach(oneSize => {%>
                        <option value="<%=oneSize.id_size%>"><%=oneSize.name%></option>
                    <%});%>        
                </select> 
                <p class="feedback"></p>
            </div>    
            
            <!-- ========== DISEÑO ========== --> 
            <div class="form-group"> 
                <label for="exampleFormControlFile1">Diseño</label>    
                <select name="fk_design" class="custom-select" data-name="diseño">
                    <option value="" selected>Selecciona el diseño</option>
                    <%designs.forEach(oneDesign => {%>
                        <option value="<%=oneDesign.id_design%>"><%=oneDesign.name%></option>
                    <%});%>        
                </select> 
                <p class="feedback"></p>
            </div> 

            <!-- ========== ARTISTA ========== -->
            <div class="form-group"> 
                <label for="exampleFormControlFile1">Artista</label>    
                <select name="fk_artist" class="custom-select"data-name="artista">
                    <option value="" selected>Selecciona el artista</option>
                    <%artists.forEach(oneArtist => {%>
                        <option value="<%=oneArtist.id_artist%>"><%=oneArtist.first_name%></option>
                    <%});%>        
                </select> 
                <p class="feedback"></p>
            </div> 

            <!-- ========== PRECIO ========== --> 
            <div class="form-group">
                <label for="exampleInputEmail1">Precio</label>   
                <input name="price" type="number" class="form-control" placeholder="Escribi el precio del producto"data-name="precio"> 
                <p class="feedback"></p>
            </div> 

            <!-- ========== DESCUENTO ========== --> 
            <div class="form-group">
                <label for="exampleInputEmail1">Descuento</label>   
                <input name="discount" type="number" class="form-control" placeholder="Escribi el descuento del producto"data-name="descuento"> 
                <p class="feedback"></p>
            </div> 

            <!-- ========== BOTON SUBMIT ========== -->
            <button type="submit" class="btn btn-primary icon-database button-validator">    Crear producto</button>
            
        </form>
   
   </div>

</div>

<%- include('partials/footer') %>
 
 <script src="/js/validator.min.js"></script> <!-- traer libreria express validator-->
 <script src="/js/product-validator-script.js"></script> <!--script para validacion front-->

</body>
</html>