
<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

<%- include('partials/headerNavbar') %>
<div class="container">
<div class="container-product-create">


    <!-- ==== Condciional para ver si hay errores en el formulario ==== -->
    <% if (typeof errors != 'undefined') { %>
        <p style="color: red">Hay erorres en el formulario</p>

        <% for(let i = 0; i<errors.length; i++) { %>
            <li style="color: red">
                <%=errors[i].msg%>
            </li>
        <% } %>

    <% } %>
    <!-- ======== -->

    
    <form action="/products/create" method="POST" class="product-form" enctype="multipart/form-data">
        
        <!-- ========== NOMBRE ========== -->
        <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label> <span class="form-feedback"></span>    
        <input name="name" type="text" class="form-control" placeholder="Escribi el nombre">
        </div>

        <!--BORRAR ESTO ES SOLO UNA PRUEBA PARA LA VALIDACIOND E EMAILS
        <div class="form-group">
            <label for="exampleInputEmail1"> Email </label> <span class="form-feedback"></span>    
            <input name="email" type="text" class="form-control" placeholder="Escribi el nombre">
        </div>
        ==========================================================-->

        <!-- ========== IMAGEN ========== -->
        <div class="form-group">
            <label for="exampleFormControlFile1">Imagen</label> <span class="form-feedback"></span>  
            <input name="image" type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

        <!-- ========== CATEGORIA ========== -->
        <div class="form-group"> 
        <label for="exampleFormControlFile1">Categoria</label> <span class="form-feedback"></span>   
        <select name="fk_category" class="custom-select">
            <option value="" selected>Selecciona la categoria</option>
            <%categories.forEach(oneCategory => {%>
                <option value="<%=oneCategory.id_category%>"><%=oneCategory.name%></option>
            <%});%>        
        </select>
        </div> 

        <!-- ========== COLOR ========== --> 
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Color</label> <span class="form-feedback"></span>   
            <select name="fk_color" class="custom-select">
                <option value="" selected>Selecciona el color</option>
                <%colors.forEach(oneColor => {%>
                    <option value="<%=oneColor.id_color%>"><%=oneColor.name%></option>
                <%});%>        
            </select>
        </div> 

        <!-- ========== TALLE ========== --> 
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Talle</label> <span class="form-feedback"></span>   
            <select name="fk_size" class="custom-select">
                <option value="" selected>Selecciona el talle</option>
                <%sizes.forEach(oneSize => {%>
                    <option value="<%=oneSize.id_size%>"><%=oneSize.name%></option>
                <%});%>        
            </select>
        </div>    
        
        <!-- ========== DISEÑO ========== --> 
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Diseño</label> <span class="form-feedback"></span>   
            <select name="fk_design" class="custom-select">
                <option value="" selected>Selecciona el diseño</option>
                <%designs.forEach(oneDesign => {%>
                    <option value="<%=oneDesign.id_design%>"><%=oneDesign.name%></option>
                <%});%>        
            </select>
        </div> 

        <!-- ========== ARTISTA ========== -->
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Artista</label> <span class="form-feedback"></span>   
            <select name="fk_artist" class="custom-select">
                <option value="" selected>Selecciona el artista</option>
                <%artists.forEach(oneArtist => {%>
                    <option value="<%=oneArtist.id_artist%>"><%=oneArtist.first_name%></option>
                <%});%>        
            </select>
        </div> 

        <!-- ========== PRECIO ========== --> 
        <div class="form-group">
            <label for="exampleInputEmail1">Precio</label> <span class="form-feedback"></span>  
            <input name="price" type="number" class="form-control" placeholder="Escribi el precio del producto">
        </div>

        <!-- ========== DESCUENTO ========== --> 
        <div class="form-group">
            <label for="exampleInputEmail1">Descuento</label> <span class="form-feedback"></span>  
            <input name="discount" type="number" class="form-control" placeholder="Escribi el descuento del producto">
        </div> 

        <!-- ========== BOTON SUBMIT ========== -->
        <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>
</div>

<%- include('partials/footer') %>
 
<script src="/js/product-create-script.js"></script>

</body>
</html>