
<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

<%- include('partials/headerNavbar') %>
<div class="container">
<div class="container-product-create">

<% products.forEach(oneProduct => {
    if (oneProduct.id_product == idURL) { %>    

    <div class="row">
        <div class="col-12"><h4>Estas editando el producto con id: <%=idURL%></h4></div>    
    </div>

    <form action="/products/edit/<%=oneProduct.id_product%>" method="POST" class="product-form">
        
        <!-- ========== NOMBRE ========== -->
        <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label> <span class="form-feedback"></span>    
        <input name="name" type="text" class="form-control" value="<%=oneProduct.name%>">
        </div>

        <!-- ========== IMAGEN ========== -->
        <div class="form-group">
            <label for="exampleFormControlFile1">Imagen</label> <span class="form-feedback"></span>  
            <div>

                <figure class="product-image">
                    <img src="/images/<%=oneProduct.image%>" alt="">
                </figure>

                <input name="image" type="file" class="form-control-file" id="exampleFormControlFile1" value="images/<%=oneProduct.image%>">
            
            </div>
        </div>

        <!-- ========== CATEGORIA ========== -->
        <div class="form-group"> 
        <label for="exampleFormControlFile1">Categoria</label> <span class="form-feedback"></span>  
        <select name="fk_category" class="custom-select">
            <% categories.forEach(oneCategory => { %>
            <option value="<%=oneCategory.id_category%>" <%= oneCategory.name == oneProduct.category.name ? "selected" : null %> > <%= oneCategory.name %> </option>
            <% }) %>      
        </select>
        </div> 

        <!-- ========== COLOR ========== --> 
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Color</label> <span class="form-feedback"></span>   
            <select name="fk_color" class="custom-select">
                <%colors.forEach(oneColor => {%>
                    <option value="<%=oneColor.id_color%>" <%= oneColor.name == oneProduct.color.name ? "selected" : null %> ><%=oneColor.name%></option>
                <%});%>        
            </select>
        </div> 

        <!-- ========== TALLE ========== --> 
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Talle</label> <span class="form-feedback"></span>   
            <select name="fk_size" class="custom-select">
                <%sizes.forEach(oneSize => {%>
                    <option value="<%=oneSize.id_size%>" <%= oneSize.name == oneProduct.size.name ? "selected" : null %> ><%=oneSize.name%></option>
                <%});%>        
            </select>
        </div>    
        
        <!-- ========== DISEÑO ========== --> 
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Diseño</label> <span class="form-feedback"></span>   
            <select name="fk_design" class="custom-select">
                <%designs.forEach(oneDesign => {%>
                    <option value="<%=oneDesign.id_design%>" <%= oneDesign.name == oneProduct.design.name ? "selected" : null %> ><%=oneDesign.name%></option>
                <%});%>        
            </select>
        </div> 

        <!-- ========== ARTISTA ========== -->
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Artista</label> <span class="form-feedback"></span>   
            <select name="fk_artist" class="custom-select">
                <%artists.forEach(oneArtist => {%>
                    <option value="<%=oneArtist.id_artist%>" <%= oneArtist.first_name == oneProduct.artist.first_name ? "selected" : null %> ><%=oneArtist.first_name%></option>
                <%});%>        
            </select>
        </div> 

        <!-- ========== PRECIO ========== --> 
        <div class="form-group">
            <label for="exampleInputEmail1">Precio</label> <span class="form-feedback"></span>  
            <input name="price" type="number" class="form-control" placeholder="Escribi el precio del producto" value="<%=oneProduct.price%>">
        </div>

        <!-- ========== DESCUENTO ========== --> 
        <div class="form-group">
            <label for="exampleInputEmail1">Descuento</label> <span class="form-feedback"></span>  
            <input name="discount" type="number" class="form-control" placeholder="Escribi el descuento del producto" value="<%=oneProduct.discount%>">
        </div> 

        <!-- ========== BOTON SUBMIT ========== -->
        <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>

<%}
});%>

</div>

<%- include('partials/footer') %>
 
<script src="/js/product-create-script.js"></script>

</body>
</html>