
<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

<%- include('partials/headerNavbar') %>
<div class="container">
<div class="container-product-create">

    <!-- ==== Condciional para ver si hay errores en el formulario ==== -->
    <% if (typeof errors != 'undefined') { %>
        <p style="color: red">Hay erorres en el formulario</p>

        <% for(let i = 0; i<errors.length; i++) { %>
            <li style="color: red">
                <%=errors[i].msg%>
            </li>
        <% } %>

    <% } %>
    <!-- ======== -->


    <div class="row">
        <div class="col-12"><h4 class="title-edit-product">Estas editando el producto con id: <%=idURL%></h4></div>    
    </div>

    <form action="/products/edit/<%=oneProduct.id_product%>?_method=PUT" method="POST" class="product-form" enctype="multipart/form-data"id="products-form">
        
        <!-- ========== NOMBRE ========== -->
        <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>     
        <input name="name" type="text" class="form-control" value="<%=oneProduct.name%> "data-name="nombre">
        <p class="feedback"></p>
        </div>

        <!-- ========== IMAGEN ========== -->
        <div class="form-group">
            <label for="exampleFormControlFile1">Imagen</label>   
            <div>

                <figure class="product-image">
                    <img src="/images/<%=oneProduct.image%>" alt="">
                </figure>

                <input name="image" type="file" class="form-control-file" id="exampleFormControlFile1" value="images/<%=oneProduct.image%>"data-name="imagen">
                <p class="feedback"></p>
            </div>
        </div>

        <!-- ========== CATEGORIA ========== -->
        <div class="form-group"> 
        <label for="exampleFormControlFile1">Categoria</label>   
        <select name="fk_category" class="custom-select"data-name="categoria">
            <% categories.forEach(oneCategory => { %>
            <option value="<%=oneCategory.id_category%>" <%= oneCategory.name == oneProduct.category.name ? "selected" : null %> > <%= oneCategory.name %> </option>
            <% }) %>      
        </select>
        <p class="feedback"></p>
        </div> 

        <!-- ========== COLOR ========== --> 
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Color</label>    
            <select name="fk_color" class="custom-select"data-name="color">
                <%colors.forEach(oneColor => {%>
                    <option value="<%=oneColor.id_color%>" <%= oneColor.name == oneProduct.color.name ? "selected" : null %> ><%=oneColor.name%></option>
                <%});%>        
            </select>
            <p class="feedback"></p>
        </div> 

        <!-- ========== TALLE ========== --> 
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Talle</label>    
            <select name="fk_size" class="custom-select"data-name="talle">
                <%sizes.forEach(oneSize => {%>
                    <option value="<%=oneSize.id_size%>" <%= oneSize.name == oneProduct.size.name ? "selected" : null %> ><%=oneSize.name%></option>
                <%});%>        
            </select>
            <p class="feedback"></p>
        </div>    
        
        <!-- ========== DISEÑO ========== --> 
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Diseño</label>    
            <select name="fk_design" class="custom-select"data-name="diseño">
                <%designs.forEach(oneDesign => {%>
                    <option value="<%=oneDesign.id_design%>" <%= oneDesign.name == oneProduct.design.name ? "selected" : null %> ><%=oneDesign.name%></option>
                <%});%>        
            </select>
        </div> 

        <!-- ========== ARTISTA ========== -->
        <div class="form-group"> 
            <label for="exampleFormControlFile1">Artista</label>    
            <select name="fk_artist" class="custom-select"data-name="artista">
                <%artists.forEach(oneArtist => {%>
                    <option value="<%=oneArtist.id_artist%>" <%= oneArtist.first_name == oneProduct.artist.first_name ? "selected" : null %> ><%=oneArtist.first_name%></option>
                <%});%>        
            </select>
        </div> 

        <!-- ========== PRECIO ========== --> 
        <div class="form-group">
            <label for="exampleInputEmail1">Precio</label>   
            <input name="price" type="number" class="form-control" placeholder="Escribi el precio del producto" value="<%=oneProduct.price%>"data-name="precio">
        </div>

        <!-- ========== DESCUENTO ========== --> 
        <div class="form-group">
            <label for="exampleInputEmail1">Descuento</label>   
            <input name="discount" type="number" class="form-control" placeholder="Escribi el descuento del producto" value="<%=oneProduct.discount%>">
        </div> 

        <!-- ========== BOTON SUBMIT ========== -->
        <button type="submit" class="btn btn-primary icon-database button-validator">   Editar</button>
    
    </form>


</div>

<%- include('partials/footer') %>
 
<script src="/js/validator.min.js"></script> <!-- traer libreria express validator-->
<script src="/js/product-validator-script.js"></script> <!-- script para validacion front-->

</body>
</html>