<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>

<%- include('partials/headerNavbar') %>

<%- include('partials/bottoms') %>

	<div class="row">
		<div class="col-10 col-md-3 user-profile-box">
			<h2 class="mt-2">Hola <%=userLogin.first_name%></h2>
			<h5>Tu mail es: <%=userLogin.email%></h5>
			<a><img class="img-user-profile" src="/images/avatars/<%=userLogin.avatar%>"></a>
		</div>
	</div>

<%- include('partials/footer') %>
</body>
</html>