<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>

<%- include('partials/headernavBar') %>

<%- include('partials/bottoms') %>

<% users.forEach(oneUser => { 
	if (oneUser.id_user == idURL) {            
	%>

	<div class="row">
		<div class="col-10 col-md-3 user-profile-box">
			<h2>Hola <%=oneUser.first_name%></h2>
			<h2>Tu mail es: <%=oneUser.email%></h2>
			<a><img src="/images/screen-3.jpg"></a>
		</div>
	</div>
				
<% }}); %>
<%- include('partials/footer') %>
</body>
</html>